<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>C++ Network</title>
        <link rel="stylesheet" href="/static/cnet/styles.css">
    </head>
    <body>
        <!--The top navigation-->
        <nav>
            <div class="nav-container">
                <div class="brand">Grant Gibson</div>
                <ul>
                    <li><a href="/templates/index.html">Home</a></li>
                    <li>
                        <a href="#">Projects</a>
                        <ul class="dropdown">
                            <li><a href="/templates/Cnet.html">C++ AI</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                        <ul class="dropdown">
                            <li><a
                                    href="mailto:gjgibson118@gmail.com">Email</a></li>
                            <li><a
                                    href="https://www.linkedin.com/in/grant-gibson-7648022a4"
                                    target="_blank">LinkedIn</a></li>
                            <li><a
                                    href="https://github.com/gjg23"
                                    target="_blank">GitHub</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="top-panel">
                <h1>C++ Pong Neural Net</h1>
                <p>This project is a neural network implemented in C++ to play
                    Pong. It demonstrates basic AI and machine learning
                    concepts. First it generates a file of all the possible
                    inputs it could recive and the optimal output move for each.
                    The model is fitted to the data which is supervised
                    learning, and then the model is able to play by controlling
                    the paddle based on the current game state.
                    The model could be improved by making the ball quicker than
                    the paddle and training the optimal move to be where the
                    pong ball will be rather than following the current location
                    at all times. This would also require the model to know the
                    x position and the directon of the ball to predict where the
                    ball will land.
                    You can find the code and detailed explanation in the GitHub
                    repository linked below.</p>
                <a href="https://github.com/gjg23/AIPong-Simple"
                    target="_blank">View on GitHub</a>
            </div>
            <div class="bottom-panel">
                <h2>Project Overview</h2>
                <video src="/static/cnet/2024-12-23 10-04-55.mkv" autoplay loop
                    muted class="project-image"></video>
                <p>This is the final fitted model playing the pong game.</p>
            </div>
            <div class="bottom-panel">
                <h2>Training Results</h2>
                <img src="/static/cnet/loss_plot.png" class="project-image"
                    alt="Loss Plot">
                <p>This is a simple plot of the loss each training epoch over
                    500 epochs at a learning rate of 0.00001. The first epochs
                    are able to learn a lot quickly but as it keeps going it is
                    harder and harder to reduce the loss further.</p>
            </div>
            <div class="bottom-panel">
                <h2>Learning Rate Comparison</h2>
                <img src="/static/cnet/loss_log_plot_combined.png"
                    class="project-image" alt="Learning Rate Comparison Plot">
                <p>This is a log plot of the loss each training epoch over 500
                    epochs at a learning rates of 0.0001, 0.00001, and 0.000001.
                    Initially the larger learning rate quickly reached a very
                    low loss but was too coarse to keep going and failed. The
                    smaller learing rate learned steadily but too slow to do
                    anything meaningful over 500 epochs. In the middle an
                    acceptable loss was reached. To fully optimize learning, a
                    reduce learing rate function could be implimented.</p>
            </div>
            <div class="button-panel">
                <a href="/templates/index.html">Back to home</a>
            </div>
        </div>
    </body>
</html>