:root {
    font-size: 16px;
}

/* Main navigation bar */
nav {
    width: 100%;
    background-color: #333333c0;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 1rem;
    color: #ffffff;
}

nav .nav-container {
    display: flex;
    align-items: center;
    width: 100%;
}

nav .brand {
    font-size: 2rem;
    color: #ffffff;
    margin-right: 2rem;
    text-shadow: 0 0.1rem 0.2rem #000000;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1rem;
    position: relative;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #666666;
}

nav ul .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444444;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: 15rem;
    list-style-type: none;
}

nav ul .dropdown li {
    margin: 0;
    padding: 1rem;
}

nav ul .dropdown li a {
    font-size: 1rem;
}

nav ul li:hover .dropdown {
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(26, 44, 59);
    color: rgb(200, 213, 224);
    font-size: 1rem;
    /* Base font size in rem */
}

.container {
    display: flex;
    flex-direction: column;
    /* Stack the top and bottom panels */
    justify-content: center;
    align-items: center;
    padding: 10rem 5rem;
    width: 70%;
    margin: auto;
    gap: 2rem;
    /* Space between panels */
}

.button-panel {
    background-color: rgb(38, 61, 80);
    /* Slightly lighter color */
    padding: 1rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
    /* Space between top and bottom panels */
    display: flex;
    align-items: center;
}

.top-panel,
.bottom-panel {
    background-color: rgb(38, 61, 80);
    /* Slightly lighter color */
    padding: 2rem;
    box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
    width: 100%;
    /* Full width for both top and bottom panels */
    margin-bottom: 2rem;
    /* Space between top and bottom panels */
}

.bottom-panel {
    display: flex;
    flex-direction: column;
    /* Align items vertically */
    align-items: center;
    /* Center items horizontally */
}

.bottom-panel video {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

h1,
h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0073e6;
    font-size: 1rem;
}

a:hover {
    text-decoration: underline;
}

.project-image {
    width: 65rem;
    height: 35rem;
    margin-bottom: 2rem;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    :root {
        font-size: 14px;
        /* Reduce base font size on smaller screens */
    }

    nav {
        font-size: 1.5rem;
    }

    .container {
        padding: 5rem 2rem;
    }

    .top-panel,
    .bottom-panel {
        width: 90%;
    }
}